*
    box-sizing: border-box
body
    margin: 0
.container
    width: 1252px
    margin: 0 auto
.header__wrapper
    display: flex
    align-items: center
.header
    background: #cfe5ef
    padding: 43px 0
    &__logo
        margin-right: 33px

    &__menu
        ul 
            display: flex
            list-style: none
            margin: 0
            padding: 0
            li 
                padding: 0 17px
    &__item

    &__enter
        flex-basis: 100%
        display: flex
        justify-content: flex-end
    &__btn
