@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/roboto-regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/roboto-bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto-Regular";
}

.container {
  width: 1252px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background: #cfe5ef;
  padding: 43px 0;
}

.header__logo {
  margin-right: 33px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item {
  padding: 0 17px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Roboto-Bold";
}

.header__gallery:hover {
  background-color: #ffffff;
}

.header__gallery:hover .header__gallery-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__enter {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__btn {
  font-family: "Roboto-Regular";
  cursor: pointer;
  font-size: 20px;
  padding: 18px 36px;
  border: none;
  background: #ffffff;
  outline: none;
}

.header__gallery-dropdown {
  display: none;
  position: absolute;
  margin-left: -18px;
  padding: 13px 19px;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #d1d1d1;
          box-shadow: 0 0 5px #d1d1d1;
}

.header__gallery-dropdown li {
  padding: 0;
}

.title-left {
  margin: 62px 0 20px;
  font-family: "Roboto-bold";
  font-size: 24px;
}

.title-left__hr {
  height: 5px;
  width: 200px;
  background-color: #c3c3c3;
  border: none;
  margin: 9px 0;
}

.title-center {
  text-align: center;
  font-family: "Roboto-bold";
  font-size: 24px;
  margin-bottom: 40px;
}

.title-center__hr {
  height: 5px;
  width: 200px;
  background-color: #c3c3c3;
  border: none;
  margin-top: 9px;
  margin-bottom: 9px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  background: #e2e2e2;
  border: 1px solid #9f9f9f;
  height: 48px;
}

.col-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid__right-col-1 {
  width: 94px;
}

.grid__right-col-2 {
  width: 200px;
}

.grid__right-col-3 {
  width: 306px;
}

.grid__right-col-4 {
  width: 412px;
}

.grid__right-col-5 {
  width: 518px;
}

.grid__right-col-6 {
  width: 624px;
}

.grid-indent .col + .col {
  margin-left: 20px;
}

.grid-indent .row + .row {
  margin-top: 20px;
}

.grid-indent__right-col-1 {
  width: 84px;
}

.grid-indent__right-col-2 {
  width: 190px;
}

.grid-indent__right-col-3 {
  width: 296px;
}

.grid-indent__right-col-4 {
  width: 402px;
}

.grid-indent__right-col-5 {
  width: 508px;
}

.grid-indent__right-col-6 {
  width: 614px;
}

.reviews {
  margin-bottom: 105px;
}

.reviews .title-left {
  padding-bottom: 9px;
}

.review {
  font-size: 16px;
}

.review__content {
  padding-left: 21px;
}

.review__name {
  font-size: 20px;
  padding-right: 34px;
  font-family: "Roboto-bold";
}

.review__icon {
  margin-right: 6px;
}

.review__date {
  color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__text {
  margin-top: 33px;
  color: #797979;
}

.review__hr {
  margin: 34px 0;
}

.gallery .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .row + .row {
  margin-top: 54px;
}

.gallery__photo {
  position: relative;
  border: 1px solid #dcdcdc;
  padding: 8px;
  display: inline-block;
  height: 273px;
}

.gallery__photo::before {
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
  height: 9px;
  width: 9px;
  background-color: #ffffff;
}

.gallery__photo::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  height: 9px;
  width: 9px;
  background-color: #ffffff;
}

.gallery__text {
  padding-top: 21px;
  padding-left: 9px;
  font-family: "Roboto-bold";
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */